.hovering-menu-bar {
  display: none;
}
@media (max-width: 767.98px) {
  .hovering-menu-bar {
    display: block;
    z-index: 9999 !important;
  }
  .main-sidebar-peek {
    transform: translateX(0%) !important;
  }
}

.geosuggest__suggests {
  box-shadow: none !important;
  border: 1px solid #e2e6ec !important;
}
.asset-list-data-row td {
  font-size: 14px;
  white-space: nowrap;
}
